@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300&family=Ubuntu:wght@300&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
  scroll-behavior: smooth;
  
}

.home-admin{
  height:100vh;
  display:flex;
}

.main-content{
  width:100%;
  transition:all 1s ease;
  background-color:#f4f4f4;
  /* height:100vh; */
  margin:10px;
  /* margin-left:50%; */
}

.sidebar{
  position: fixed;
  width:20%;
  left:-20%;
  height: 100%;
  background:#B1308A;
  transition: all 1s ease;
  box-shadow: 5px 0px 10px rgba(17, 26, 41, 0.6);
  border-radius:0 8px 8px 0;
}

.sidebar ul{
  margin-top:180px;
  padding-left:15px;
  padding-right:0;
  list-style-type:none;
}

.sidebar ul li a{
  display: block;
  height: 65px;
  width: 100%;
  color: black;
  line-height: 65px;
  padding-left:25px;
  /* margin-top:8px; */
  /* box-sizing: border-box; */
  border-bottom: 1px solid black;
  /* border-left:1px solid transparent; */
  transition: all 1s ease;
  text-decoration:none;
}
  
.sidebar ul li a:hover{
  padding-left:45px;
}
/* .sidebar ul li a i{
  font-size: 23px;
  margin-right: 16px;
  color:#f4f4f4;
} */
.sidebar ul li a span{
  font-size:18px;
  letter-spacing:2px;
  text-transform: uppercase;
  /* margin-bottom:0; */
}
.sidebar ul li a .admin-icon{
  font-size:18px;
}

#check{
  display: none;
}

.home-admin label #btn, .home-admin label #cancel{
  position: absolute;
  cursor: pointer;
  color: #f4f4f4;
  border-radius:50%;
  margin: 15px 25px;
  font-size:25px;
  background:#000;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all 1s ease;
  z-index:1;
  box-shadow:0px 10px 10px 0px rgba(17, 26, 41, 0.6);
}

label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
    margin-left:20%;
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left:20%;
  opacity: 1;
  visibility: visible;
}
#check:checked ~ .main-content{
  margin-left:20%;
}

.ad-msg{
  border:2px solid red;
  margin:150px 200px;
  padding:200px;
  color:#000;
  font-size:30px;
}

.ad-pass-board{
  display: none;
}
#ad-volunteer-data{
  display: none;
}
#ad-donor-data{
  display: none;
}

#admin-home .ad-pass-board{
  padding:0 200px;
  margin:0 40px;
  margin-top:200px;
}

#admin-home .ad-pass-board h2{
  font-weight:500;
  font-size:26px;
  
  margin-bottom:35px;
  color:#B1308A;
}

#admin-home .pass-text{
  font-size:20px;
  margin:20px 0;
  /* color:#f4f4f4; */
  color:#000;
}

#admin-home .ch-pass{
  height:38px;
  width:100%;
  margin-bottom:15px;
  margin-top:3px;
  border-radius:4px;
  padding:8px;
  font-size:18px;
}

#admin-home .change-btn{
  padding:7px 15px;
  font-size:15px;
  margin-top:12px;
  background-color: #B1308A;
  border:none;
  color:#f4f4f4;
  border-radius:5px;
}

#admin-home .change-btn:hover{
  cursor:pointer;
  background-color: #86366e;
}

#ad-volunteer-data{
  border:2px solid red;
  height:80%;
  width:80%;
  margin:80px auto;
}
#ad-donor-data{
  border:2px solid green;
  height:80%;
  width:80%;
  margin:80px auto;
}


/* @media(max-width : 860px){
  .sidebar{
    height:50%;
    width:90px;
    top: 0;
    margin: 100px 0;
  }


  #btn,#cancel{
    display: none;
  }
  .sidebar span{
    position: absolute;
    margin-left: 0;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar ul{
    padding:0;
    margin-left:5px;
    margin-top:80px;
  }
  .sidebar ul li a .admin-icon, .sidebar ul li i{
    font-size:25px;
    margin:0;
    padding:0;
  }

  .admin-icon{
   padding:0;
   margin:0;
  }
  .sidebar ul li a:hover {
    padding:0 -10px;
  }
  
} */
@media(max-width : 1400px){
  .sidebar ul li a span{
    font-size:15px;
    letter-spacing:0px;
  }
  .sidebar ul li a .admin-icon{
    font-size:18px;
  }
  .sidebar ul li a{
    padding-left: 0px;
  }
}

@media(max-width : 1060px){
  .sidebar ul li a span{
    font-size:13px;
  }
}

@media(max-width : 860px){
  .sidebar{
    width:70px;
    top: 0;
    margin:0;
    left:-20%;
  }
  .sidebar ul li a{
    padding-left: 25px;
  }
  
  .sidebar span{
    position: absolute;
    margin-left: 0;
    visibility: hidden;
    opacity:0;

  }
  .home-admin{
    padding-left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .main-content{
    margin-left: 0;
    background-color: white;
  }
  #admin-home .ad-pass-board{
    padding:0 50px;
    margin:0 10px;
    margin-top:150px;
  }
  #admin-home .ad-pass-board h2{
    font-size:20px;
  }
  
  #admin-home .pass-text{
    font-size:15px;
    margin:20px 0;
  }
  
  #admin-home .ch-pass{
    height:25px;
    font-size:18px;
  }
  #admin-home .change-btn{
  padding:7px 10px;
  font-size:12px;
  }
  #check:checked ~ .sidebar{
    margin: 0;
  }
  #check:checked ~ label #btn{
      margin-left:0%;
  }
  #check:checked ~ label #cancel{
    margin-left:50px;
  }
  .sidebar ul{
    margin-top:100px;
    padding-left:0;
  }
  .ad-msg{
    margin:0 5px;
    margin-top:100px;
    padding: 200px 100px;
  }
  #ad-volunteer-data, #ad-donor-data{
    margin:0 5px;
    margin-top:80px;
    height:500px;
    width:100%;
  }
  
}